{% extends 'base/base.html' %}
{% block content %}

  <div class="row col-sm-8 offset-sm-2 bg-warning chatbox-parent">
      <div class="chatbox">

            <div class="message_holder"  id="message-holder">
                <div class="message-inner">
                    {% for message in messages %}
                        <div >
                            <b style="color:#000">
                                {{message.name}}
                            </b>
                            {{message.message}}
                        </div>
                    {% endfor %}
                </div>
            </div>

        <form method="POST" action="" class="send-message">
            {{form.csrf_token}}
            <fieldset>
        
                {{form.message}}
        
                {{form.submit}}
        
        
            </fieldset>
        </form>
      </div>
  </div>

{% endblock %}

{% block javascript %} 
  <script src="/static/js/chat.js"></script> 
{% endblock %}