{% extends 'base/base.html' %}
{% block content %}


{{party.name}}
Code: {{party.code}}


<!-- {% if current_user == party.admin %} -->
    <form method="POST" action="{{ url_for('main.add_playlist', party_id=party.id)}}">
        {{ form.csrf_token }}
        <fieldset>
            <legend>Enter your credentials</legend>
        
            {{form.uid.label}}
            {{form.uid}}
        
            {{ form.submit }}
        </fieldset>
    </form>
<!-- {% endif %} -->



{% endblock %}
